@font-face{
    font-family: myFirstFont;
  src: url(./font/Yekan\ Bakh\ Medium.woff);
}
*{
    font-family: myFirstFont;
}
body{
    direction: rtl;
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
.all-bill{
    width: 603px;
    height: 750px;
    text-align: center;
    border-radius: 36.3px;
    border: solid 7px rgba(241, 196, 15, 0.5);
    overflow-x: hidden;
}
.rest-name{
    width: 100%;
    height: 70px;
    font-size: 20px;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 30px 10px white;
}
.table-food{
    overflow-y: scroll;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;    
}
.table{
    width: 90% !important;
}
.table-food::-webkit-scrollbar {
    display: none;
}
.info-food{
    text-align: start;
}
.pl-mi{
    display: flex;
    align-items: center;
    margin: 5px 20px;
    height: 30px;
}
.pl-mi .pl-mi-h{
    width: 30px;
    height: 15px;
}
.f-size1{
    font-size: 18px;
    font-weight: bold;
}
.f-size2{
    font-size: 28px;
    font-weight: bold;
}
.food{
    width: 65%;
}
.cost{
    height: 110px;
}
.info-sefaresh{
    width: 100%;
    height: 250px;
    z-index: 10;
    box-shadow: 0 0 30px 10px white;
    background-color: white;
    display: flex;
    justify-content: space-around;    
}
.info-sefaresh .right-side{
    width: 250px;
}
.info-sefaresh .right-side p,span{
    font-size: 17px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.71);
}
.info-sefaresh .right-side h1{
    font-weight: bold;
}
.info-sefaresh .left-side{
    width: 300px;
    margin: 30px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.info-sefaresh .left-side .code-takhfif{
    width: 297px;
    height: 45px;
    border-radius: 23px;
    border: solid 1.5px #e67e22;
    padding: 0 20px 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-sefaresh .left-side .code-takhfif input{
    color: rgba(31, 31, 31, 0.71);
    font-size: 20px;
    font-weight: 600;
    outline: none;
    border: none;
}
.info-sefaresh .left-side .code-takhfif input::placeholder{
    color: #f39c12;
    font-size: 20px;
    font-weight: 600;
}
.info-sefaresh .left-side .code-takhfif .plus-takhfif{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border-image-source: linear-gradient(to bottom, #f8c26e, #ffcd7e);
    background-color: #f39c12;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-sefaresh .left-side .code-takhfif .trash-takhfif{
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border-image-source: linear-gradient(to bottom, #f8c26e, #ffcd7e);
    background-color: #e74c3c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-sefaresh .left-side .sabte-sefaresh{
    width: 297px;
    height: 60px;
    border-radius: 12px;
    background-color: #e67e22;
    font-size: 29.3px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sabte-sefaresh:hover{
    cursor: pointer;
    background-color: #ff7b00;
    transform: scaleY(1.1);
}
#plus-food:hover,#mines-food:hover{
    width: 80%;
    cursor: pointer;
}
#plus-takhfif:hover{
    cursor: pointer;
    background-color: #ff6600;
    transform: scale(1.1);
}
#trash-takhfif:hover{
    cursor: pointer;
    background-color: #fc1900;
    transform: scale(1.1);
}